<!DOCTYPE html>
<html>
<head>
  <title>State Bank Financial Connection</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

	<div class="row-fluid header">
		<div class="span12 padding-20">
			<div class="span4"><%= link_to (image_tag 'logo.png'), 'http://www.statebankfinancial.com' %></div>
		<div class="span8"></div>

		</div>
		

	</div>





	<div class="row-fluid">
		
		<div class="span12 padding-40">
			<div class="row-fluid">
				<div class="span12 padding-20 issue">
					<div class="span8">State Bank Financial Connection</div>
					<div class="span4"><%= yield :volume_issue %></div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12 padding-20 main"><%= yield %></div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12 padding-40 footer" style="margin-top:-40px;">
			<div class="span12 padding-20" style="background-color:#d0d0c6;padding-top:40px;">
				<div class="row-fluid">
					<div class="span2">
						<p><strong>State Bank La Crosse</strong><br />
						401 Main Street<br />
						PO Box 159<br />
						La Crosse, WI 54602</p>
					</div>

					<div class="span2">
						<p><strong>State Bank La Crescent</strong><br />
						109 South Walnut Street<br />
						La Crescent, MN 55947</p>
					</div>

					<div class="span2">
						<p><strong>State Bank Marshfield</strong><br />
						124 N Central Ave.<br />
						Marshfield, WI 54449</p>
					</div>

					<div class="span2">
						<p><strong>State Bank Onalaska</strong><br />
						1836 East Main Street<br />
						Onalaska, WI 54650</p>
					</div>

					<div class="span2">
						<p><strong>State Bank Shelby</strong><br />
						3956 Mormon Coulee Road<br />
						La Crosse, WI 54601</p>
					</div>

					<div class="span2">
						<p><strong>State Bank Sparta</strong><br />
						203 West Wisconsin Street<br />
						Sparta, WI 54656</p>
					</div>

				</div>

				<div class="row-fluid subfooter">
					<div class="span4 center" >
						<h5><%= link_to 'statebankfinancial.com', 'http://www.statebankfinancial.com' %></h5>
					</div>
					<div class="span4 offset4 center">
						<h5>Phone: 800.880.7151</h5>
					</div>
				</div>
		
			</div>
		</div>
	</div>


	<div class="row-fluid">
		<div class="span12 padding-40 footer" style="margin-top:-40px;">
			<div class="row-fluid">
				<div class="span4">
					 
                <img src="http://process.mostlyclicks.com/sbf/fdic.gif" alt="FDIC" />
				      
                <img src="http://process.mostlyclicks.com/sbf/ehl-2.gif" alt="Equal Housing Lender" />
            
				</div>
				<div class="span4 offset4" style="text-align:right;">
					<p style="padding-top:16px;line-height:14px;">State Bank Financial - Copyright &copy; 2013<br />All rights reserved.</p>
				</div>


			</div>
		</div>
	</div>


	<%= render 'pages/google' if Rails.env == 'production' %>

</body>
</html>
